@model BoBra_Kund_MVC.Models.PropertyViewModel

@{
    ViewData["Title"] = "Details";
}

<style>
    * {
        box-sizing: border-box;
    }

    .rubrik {
        font-size: 12px;
        font-weight: bold;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        padding: 10px;
        flex: 1 0 33%;
        flex-grow: 1;
    }

    .details-item {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-content: start;
    }

    .columninerest {
        /*float: left;*/
        width: 33%;
    }

    .interest {
        border: 1px solid gray;
    }

    .details-container {
    }

    .details-info {
        width: 800px;
    }

    .columninerest {
    }

    .header {
        width: 100%;
    }
</style>



<div class="details-container">
    <div class="details-info">
        <h1>@Html.DisplayFor(model => model.Adress)</h1>

        <img class="header" src="https://source.unsplash.com/random/800x400">
        <div class="details-item">
            <div class="column">
                <h3 class="rubrik">Adress</h3>
                <p>@Html.DisplayFor(model => model.Adress)</p>
            </div>
            <div class="column">
                <h3 class="rubrik">Bostadstyp</h3>
                <p>@Html.DisplayFor(model => model.HouseType)</p>
            </div>
            <div class="column">
                <h3 class="rubrik">Antal rum</h3>
                <p>@Html.DisplayFor(model => model.Rooms)</p>
            </div>
            <div class="column">
                <h3 class="rubrik">Boarea</h3>
                <p>@Html.DisplayFor(model => model.LivingArea)</p>
            </div>
            <div class="column">
                <h3 class="rubrik">Bygg år</h3>
                <p>@Html.DisplayFor(model => model.BuildYear)</p>
            </div>
            <div class="column">
                <h3 class="rubrik">Tomtarea</h3>
                <p>@Html.DisplayFor(model => model.PlotArea)</p>
            </div>
            <div class="column">
                <h3 class="rubrik">Visningsdatum</h3>
                <p>@Html.DisplayFor(model => model.ViewingDate)</p>
            </div>
            <div class="column">
                <h3 class="rubrik">Biarea</h3>
                <p>@Html.DisplayFor(model => model.BiArea)</p>
            </div>
        </div>
    </div>
    <div class="columninerest">
        <div class="interest">
            <h2>Skicka intresse anmälan</h2>
            <form asp-action="Registration" method="post">
                <div class="form-group" hidden>
                    <label asp-for="PropertyID" class="control-label"></label>
                    <input asp-for="PropertyID" class="form-control" />
                    <span asp-validation-for="PropertyID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fname" class="control-label"></label>
                    <input asp-for="Fname" class="form-control" />
                    <span asp-validation-for="Fname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lname" class="control-label"></label>
                    <input asp-for="Lname" class="form-control" />
                    <span asp-validation-for="Lname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Number" class="control-label"></label>
                    <input asp-for="Number" class="form-control" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="submit" value="Subscribe!" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>