@model IEnumerable<BoBra.Models.Property>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivingArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlotArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivingArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlotArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BiArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewingDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PropertyID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PropertyID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PropertyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
